<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>An  example that demonstrates simple IoC features.</description>

      <object name="SimpleCommunicator" type="Communicator.Communicator, Communicator"/>

      <object name="CopyListener" type="CopyListener.Listener, CopyListener">
        <constructor-arg index="0" value="Copy Listener"/>
        <constructor-arg index="1" ref="SimpleCommunicator"/>
      </object>

      <object name="StrategyResolver" type="StrategyResolver.StrategyResolver, StrategyResolver">
        <constructor-arg index="0" value="Strategy Resolver"/>
        <constructor-arg index="1" ref="SimpleCommunicator"/>
      </object>

      <object name="MonadStateMachine" type="Monad.MonadStateMachine, Monad">
        <constructor-arg index="0" value="Monad state machine"/>
        <constructor-arg index="1" ref="SimpleCommunicator"/>
      </object>

      <object name="InjectorWrapper" type="DotNetInject.InjectorWrapper, DotNetInject">
      </object>

      <object name="ProcessHelper" type="DotNetInjecter.InterProcessHelper, DotNetInjecter">
        <constructor-arg index="0" ref="InjectorWrapper"/>
        <constructor-arg index="1" ref="SimpleCommunicator"/>
      </object>

      <object name="Injecter" type="DotNetInjecter.Injecter, DotNetInjecter">
        <constructor-arg index="0" value="Dotnet Injecter"/>
        <constructor-arg index="1" ref="SimpleCommunicator"/>
        <constructor-arg index="2" ref="ProcessHelper"/>
      </object>

    </objects>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>