WinTester/obj/
DotNetInjecter/obj/
KeyBasedGenericDeserializer/obj/
DotNetInjectable/obj/
CopyListener/obj/
DotNetInject/obj/
ConsoleTester/obj/
LocalAppSettingsManager/obj/
Communicator/obj/
Monad/obj/
SimpleConsoleApplication/obj/
SimpleWindowsApplication/bin/
SimpleWindowsApplication/obj/
SampleBundleApi/obj/
SampleTests/obj/
StrategyResolver/obj/
WinTester/bin/
SampleTests/bin/
LocalAppSettingsManager/bin/
KeyBasedGenericDeserializer/bin/
SimpleConsoleApplication/bin/
packages/Common.Logging.Core.3.0.0/lib/
StrategyResolver/bin/
packages/Common.Logging.3.0.0/lib/
SampleBundleApi/bin/
CopyListener/bin/
DotNetInjectable/bin/
ConsoleTester/bin/
packages/Spring.Core.2.0.1/lib/
DotNetInject/bin/
DotNetInjecter/bin/
Monad/bin/
Communicator/bin/
packages/
